{% load getattribute %}
<style>
    .results code {
        border:5px solid white;
    }
</style>
{% if result.error %}
    <code>
        {% for error in result.error %}
            {{ error }}
        {% endfor %}
    </code>
{% else %}
    <table class='tablesorter results'>
        {% if save %}
            <caption><h3>Systems (all fields saved)</h3></caption>
        {% else %}
            <caption><h3>Proposed Changes</h3></caption>
        {% endif %}
    {% for bundle in result %}
        <th>
            {% if bundle.system.pk %}
                <a href='{{ bundle.system.get_absolute_url }}'>{{ bundle.system.hostname }}</a>
            {% else %}
                {{bundle.system.hostname}} ( Not created yet )
            {% endif %}
        </th>
        <th></th>
        {% for attr in attrs %}
            {% if bundle.system|getattribute:attr %}
                <tr>
                    <td>{{ attr }}</td>
                    {% if bundle.orig_system and not bundle.orig_system|getattribute:attr == bundle.system|getattribute:attr %}
                        <td class='new'>
                            {{ bundle.orig_system|getattribute:attr }} <b>&rarr;</b> {{ bundle.system|getattribute:attr }}
                        </td>
                    {% elif not bundle.orig_system %}
                        <td class='new'>
                            {{ bundle.system|getattribute:attr }}
                        </td>
                    {% else %}
                        <td>
                            {{ bundle.system|getattribute:attr }}
                        </td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <td><b>Added Key Value Pairs</b></td><td></td>
        </tr>
        {% if not bundle.kvs %}
            <tr>
                <td><i>No KV pairs</i></td></td><td></td>
            </tr>
        {% endif %}
        {% for kv, orig_kv in bundle.kvs %}
            <tr>
                {% if orig_kv and orig_kv.value != kv.value %}
                    <td class='new'>{{ kv.key }}</td><td class='new'>{{ orig_kv.value }} <b>&rarr;</b> {{ kv.value }}</td>
                {% elif not orig_kv and orig_kv.value != kv.value %}
                    <td class='new'>{{ kv.key }}</td><td class='new'>{{ kv.value }}</td>
                {% else %}
                    <td>{{ kv.key }}</td><td>{{ kv.value }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    {% endfor %}
    </table>
{% endif %}
